[submodule "fnicholcookbooks"]
	path = fnicholcookbooks
	url = https://github.com/fnichol/chef-cookbooks
[submodule "opscodecookbooks"]
	path = opscodecookbooks
	url = https://github.com/opscode/cookbooks.git
